
body{
    width: 100%;
}

#header-image {
    max-width: 100%;
}

#header-container {
    padding: 2.5em;
}

#main-container{
    /* max-width: 80%; */
    margin: 0 auto; 
}

h1 {
font-family: Avenir Next, Verdana, Geneva, Tahoma, sans-serif;
font-size: 25px;
font-weight: 600;
padding-bottom: 15px;
padding-top: 15px;
text-align: center;
}

h2 {
font-family: Avenir Next, Verdana, Geneva, Tahoma, sans-serif;
font-size: 30px;
font-weight: 600;
padding-bottom: 15px;
padding-top: 15px;
text-align: center;
}

p{
    font-family: Avenir Next, Verdana, Geneva, Tahoma, sans-serif;
}

#bio {
background-color: #D6F4E4;
}

#LibraryImage {
background-color: #FECCA9;
}

#MaynoothImage {
    background-color: #F8D4FC;
}

#SecondLifeImage{
    background-color: #D2F7FF;
}

#SXSWEDUImage{
    background-color: #FFE66B;
}

footer{
    background-color: #E6E5E5;
    padding: 3em;
}

.center-container {

    margin: 0 auto; 
}
.center-content{
    text-align: center;
    display: block;
}

.main-text{
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 3em;
    padding-bottom: 3em;
    line-height: 1.5;
    text-align: center;
}

.projects-cards{
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 3em;
    padding-bottom: 3em;
}

.project-image{
    width: 80%;
    max-width: 35em;
    height: auto;
}

.profile-pic{
    border-radius: 50%;
    max-width: 25em;
}

@media screen and (max-width: 400px) {
    .main-text {
        padding-left: 0.75em;
        padding-right: 0.75em;
        padding-top: 3em;
        padding-bottom: 3em;
        line-height: 1.5;
        text-align: center;
    }
  }

@media screen and (min-width: 992px) {
    .main-text {
      width: 70%;
    }
  }

