a {
    text-decoration: none;
    color: #000000
}

a:hover{
    color: #00D2FF
}

body{
    width: 100%;
}

#header-image {
    max-width: 95%;
    padding-top: 2em;
    padding-bottom: 2em;
}


#header-container {
    padding: 1em;
}

h1 {
font-family: Avenir Next, Verdana, Geneva, Tahoma, sans-serif;
font-size: 25px;
font-weight: 600;
padding-bottom: 15px;
padding-top: 15px;
text-align: center;
}

h2 {
font-family: Avenir Next, Verdana, Geneva, Tahoma, sans-serif;
font-size: 30px;
font-weight: 600;
padding-bottom: 15px;
padding-top: 15px;
text-align: center;
}

p{
    font-family: Avenir Next, Verdana, Geneva, Tahoma, sans-serif;
}

#bio {
background-color: #D6F4E4;
}

#LibraryImage {
background-color: #FECCA9;
}

#MaynoothImage {
    background-color: #F8D4FC;
}

#SecondLifeImage{
    background-color: #D2F7FF;
}

#SXSWEDUImage{
    background-color: #FFE66B;
}

footer{
    background-color: #E6E5E5;
    padding: 3em; 
}

.center-container {
    margin: 0 auto; 
}

.center-content{
    text-align: center;
    margin: 0 auto; 
}

.main-text{
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 3em;
    padding-bottom: 3em;
    line-height: 1.5;
    text-align: center;
}

.projects-cards{
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 3em;
    padding-bottom: 3em;
}

.project-image{
    width: 80%;
    max-width: 35em;
    height: auto;
}

.profile-pic{
    border-radius: 50%;
    max-width: 25em;
}
#footer-header {
    padding-top: 2em;
    padding-bottom: 2em;
}
#footer-text {
    padding-top: 3em;
    padding-bottom: 3em;
    font-size: 15px;
}

.footer-image {
    max-width: 5em;
}


/* Small Mobile only */
@media screen and (min-width: 200px) {
    .main-text {
        padding-left: 0.75em;
        padding-right: 0.75em;
        padding-top: 3em;
        padding-bottom: 3em;
        line-height: 1.5;
        text-align: center;
    }
    #social-links {
        max-width: 11em;
  }


/* Tablet */
@media screen and (min-width: 600px) {
    .main-text{
        font-size: 18px
    }
    #header-container {
        padding: 1.5em;
    }
    #social-links {
        max-width: 25em;
    }
}

/* Laptop */
@media screen and (min-width: 800px) {
    .main-text{
        font-size: 20px
    }
    #social-links {
        max-width: 25em;
    }
}


/* Desktop */
@media screen and (min-width: 1120px) {

    #main-container{
        max-width: 80%;
    }
    .main-text {
      width: 70%;
      font-size: 25px;
    }
    .project-image{
        padding-top: 3em;
        padding-bottom: 3em;
    }
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 45px;
    }

    #header-image {
        max-width: 70%;
    }
    .footer-image {
        padding-left: 0.75em;
        padding-right: 0.75em;
        padding-top: .25em;
    }

    #footer-text {
        padding-top: 2em;
        padding-bottom: 3em;
        font-size: 20px;
    }

    #footer-header {
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .center-container {
        padding-top: 5em;
        padding-bottom: 5em;
    }

    #bio-header {
        font-size: 40px;
    }

    #bio-text {
        font-size: 25px;
        padding-bottom: 2em;
    }
    #social-links {
        max-width: 25em;
    }
  }
}
