.main-title {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 100px!important;
}
.about {
    margin-top: 150px;
    padding-top: 200px!important;
    padding-bottom: 300px;
    margin-bottom: 150px;
    padding: 7em;
}


.home {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 100px!important;
}

.projects {
     margin-top: 200px;
    padding-top: 200px!important;
    padding-bottom: 200px;
}
.row-one {
     margin-top: 30px;
    padding-top: 30px;
    margin-bottom: 50px;
}
.row-two {
    margin-top: 25px;
    padding-top: 25px!important;
    padding-bottom: 250px;
    margin-bottom: 200px;

}

.oregon-outline {
    padding-top: 70px;
    display: block;
    margin: auto;
    width: 40%;
}

.social-media {
    padding-top: 20px;
    display: block;
    margin: auto;
    width: 30%;
    padding-bottom: 50px;
}

.footer {
    font: 10px;
}